@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Inter:wght@500&display=swap');

:root {
  --primary: #083644;
  --secondary: #0a2530;
  --ink: #738286;
  --input-ink: #6c7072;
  --borderline-color: #edeef0;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-feature-settings: 'lnum' on;
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}
