@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Plus+Jakarta+Sans:wght@400;500;700&family=Poppins&display=swap');

:root {
  --primary: #083644;
  --secondary: #0a2530;
  --warning: #faa4bd;
  --ink: #738286;
  --ink-light: #6c7072;
  --border-color: #edeef0;
  --white: #ffffff;
  accent-color: var(--primary);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

.container {
  margin: 0 20px;
}

.header {
  background-color: var(--primary);
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 18px;
  padding-bottom: 18px;
}

.header__btn-group {
  display: flex;
  gap: 20px;
}

.header__btn {
  font-family: 'Poppins', sans-serif;
  font-size: 1.125rem;
  color: var(--white);
  display: flex;
  gap: 10px;
  align-items: center;
  transition: transform 0.2s;
  fill: none;
}

.icon {
  max-width: 100%;
  flex-shrink: 0;
  height: 100%;
  width: 20px;
  stroke: currentColor;
  fill: inherit;
}

.header__btn .icon_heart {
  stroke-width: 1.5;
}

.header__btn .icon_folder {
  stroke-width: 2;
}

.header__btn .icon_chevron {
  stroke-width: 2;
  transform: rotate(90deg);
  padding: 2px;
}

.header__btn:hover,
.header__btn:focus {
  outline: none;
  fill: currentColor;
}

.header__btn:active {
  transform: translateY(1px);
}

.search-form {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  padding-top: 18px;
  padding-bottom: 18px;
}

.search-form__input_wide-mobile {
  grid-column: span 2;
}

.warning-message {
  position: absolute;
  color: var(--warning);
  font-size: 0.75rem;
}

.input {
  font-size: 1rem;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 400;
  padding: 11px 14px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  color: var(--secondary);
}

.input::placeholder {
  opacity: 1;
  color: var(--ink-light);
}

.input_select-wrapper {
  padding: 0;
  position: relative;
  background-color: transparent;
}

/* Custom arrow */
.input_select-wrapper::after {
  content: '';
  position: absolute;
  width: 18px;
  height: 8px;
  top: 18px;
  right: 12px;
  background: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L7 7L13 1' stroke='%230A2530' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E")
    no-repeat;
  cursor: pointer;
  z-index: -1;
}

.input__select {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  border-radius: 4px;
  padding: 11px 14px;
  width: 100%;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 1rem;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 400;
  color: var(--ink-light);
}

.input__select:focus {
  outline: 2px solid var(--primary);
}

.button {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
  border-radius: 4px;
  transition: all 0.2s;
  padding: 12px;
  width: 100%;
}

.button:active {
  transform: translateY(1px);
}

.button__primary {
  background-color: var(--primary);
}

.button__primary:hover,
.button__primary:focus {
  background-color: var(--secondary);
}

.button__secondary {
  background-color: var(--secondary);
}

.button__secondary:hover,
.button__secondary:focus {
  background-color: var(--primary);
}

.records-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 12px;
  row-gap: 14px;
  padding-bottom: 20px;
}

.record {
  position: relative;
  overflow: hidden;
}

.record__btn-favorite {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 24px;
  height: 24px;
  background-color: var(--white);
  border-radius: 4px;
  padding: 4px;
  display: flex;
  transition: transform 0.2s;
  fill: none;
}

.record__btn-favorite_active {
  fill: currentColor;
}

.record__btn-favorite:hover {
  transform: scale(1.15);
}

.record__cover {
  max-width: 100%;
  border-radius: 4px;
  margin-bottom: 8px;
}

.record__title {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 0.875rem;
  color: var(--secondary);
  font-weight: 700;
  margin-bottom: 3px;
}

.record__artist {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 0.875rem;
  color: var(--secondary);
  font-weight: 500;
  margin-bottom: 7px;
}

.record__info {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 0.875rem;
  color: var(--secondary);
  font-weight: 400;
  margin-bottom: 3px;
}

.record__info_name {
  margin-right: 0.2em;
  color: var(--ink);
}

.text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.record__button {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  gap: 6px;
}

.record__button .icon {
  stroke-width: 1.66667;
  padding: 2px;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 2px;
  margin-bottom: 35px;
}

.pagination__page {
  font-family: 'Poppins', sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--ink);
  width: 40px;
  height: 40px;
  border-radius: 8px;
}

.pagination__page a {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.pagination__page_active {
  pointer-events: none;
  background-color: var(--secondary);
  color: var(--white);
}

.pagination__page_more {
  font-family: 'Inter', sans-serif;
  pointer-events: none;
}

.pagination__page:hover,
.pagination__page:focus {
  border: 2px solid var(--secondary);
}

.pagination__page:active {
  transform: translateY(1px);
}

.hidden {
  display: none;
}

/* Helper Class to hide text visually but keep it accessible for screen reader or other assistive software. */
.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

@media screen and (min-width: 640px) {
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1240px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .search-form {
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 30px;
  }

  .search-form__input_wide-mobile {
    grid-column: span 1;
  }

  .search-form__input_wide-desktop {
    grid-column: span 4;
  }

  .records-grid {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    padding-bottom: 40px;
  }
}
